
@font-face {
    font-family: "Akro";
    src: url('AlegreyaSansSC-Bold.ttf') format('truetype');
    font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	font-size: medium;
	font-family: 'Akro', sans-serif;
}

.app {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    align-content: space-evenly;
    justify-content: space-evenly;
}

input {
    text-align: right;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
}

@media (orientation: portrait) {
    .column {
        width: 44%;
    }

    .multiplier {
        margin-bottom: 1vh;
        padding: 1.5vw;
    }

    .total {
        margin-top: 2vh;
    }

    .ins {
        height: 3vh;
    }

    .stones {
        height: 3vh;
    }
}

@media (orientation: landscape) {
    .column {
        width: 20%;
    }

    .multiplier {
        margin-bottom: 1vh;
        padding: 2vh;
    }

    .total {
        margin-top: 4vh;
    }

    .ins {
        height: 5vh;
    }

    .stones {
        height: 5vh;
    }
}

.multiplier {
    display: flex;
    flex-direction: column;
}

.ins {
    display: flex;
    justify-content: space-between;
}

.ins * {
    width: 40%;
}

.stones {
    width: 100%;
}

.total, .subTot {
    text-align: right;
    font-size: larger;
}

.total span {
    font-size: x-large;
}

.blue {
    background-color: #2694d9;
}

.yellow {
    background-color: #f6ab5a;
}

.red {
    background-color: #e05259;
}

.purple {
    background-color: #8759c0;
}

.green {
    background-color: #39ac5e;
}