@font-face {
    font-family: "Akro";
    src: url('AlegreyaSansSC-Bold.ttf') format('truetype');
    font-display: swap;
}

body, input, select, option {
    font-family: 'Akro', sans-serif;
    font-size: medium;
}

body {
    padding: 2vh;
}

#first-col {
    display: flex;
    flex-direction: column;
    width: 7vw;
    height: 96vh;
}

.column {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.stones {
    flex: 1 1;
    padding-right: 1.1vw;
    text-align: right;
}

.total {
    text-align: right;
    font-size: larger;
    font-weight: bold;
    flex: 1;
    padding-right: 1.1vw;
}

.app {
    display: flex;
    flex-direction: column;
}

#grid {
    display: flex;
    justify-content: space-around;
}

.multiplier {
    justify-items: end;
    padding: 2vh;
}

.ins {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ins select {
    width: 45%;
}

.ins input {
    width: 45%;
    text-align: right;
}

.subTot {
    padding-right: .5vw;
}

.face {
    /* background-image: url(sprite.webp); */
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    height: 5vw;
    width: 9vw;
    /* background-size: auto 500%; */
}

.blue {
    background-position: 50% 0%;
    background-color: #38a2d1;
}

.yellow {
    background-position: 50% 25%;
    background-color: #f5c155;
}

.red {
    background-position: 25% 12.5%;
    background-color: #da4e49;
}

.purple {
    background-position: 0% 50%;
    background-color: #765c9d;
}

.green {
    background-position: 0% 25%;
    background-color: #60ae63;
}

.hex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}

.cube-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cube-container img {
    width: 5vw;
}